.card-container-half {
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container-half .card-container-half {
  width: 49%;
}

.card-container-half .card {
  width: 48%;
}

.card {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  background-color: white;
  width: 100%;
  margin-bottom: 3vw;
  z-index: 5;
}

.card-header {
  border-radius: 10px 10px 0 0;
  background-color: #FCB8B8;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  padding: 8px 0;
}

.card-header.card-header-accent {
  background-color: #CBDAEB;
}

.card-body {
  padding: 20px 25px;
}

.card-body p {
  margin-bottom: 14px;
}

.card-body p:last-of-type {
  margin-bottom: 0;
}

.card-body-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 20px;
}

.card-body-img img {
  width: auto;
  height: 250px;
  object-fit: contain;
}

@media screen and (max-width:480px) {
  .card-container-half .card-container-half, .card-container-half .card {
    width: 100%;
  }
}