.card-container-half {
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container-half .card {
  width: 46%;
}

.card {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  background-color: white;
  width: 100%;
  margin-bottom: 5vw;
  z-index: 5;
}

.card-header {
  border-radius: 10px 10px 0 0;
  background-color: #FCB8B8;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  padding: 8px 0;
}

.card-header.card-header-accent {
  background-color: #CBDAEB;
}

.card-body {
  padding: 20px 25px;
}

.card-body p {
  margin-bottom: 14px;
}

.card-body p:last-of-type {
  margin-bottom: 0;
}

.card-body .widthwise img {
  width: 40%;
  margin-right: 25px;
  object-fit: cover;
}

.card-body .widthwise-reverse img {
  width: 40%;
  margin-left: 25px;
  object-fit: cover;
}

.card-body-sentence {
  width: 50%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width:480px) {
  .card-container-half .card {
    width: 100%;
  }

  .card-body-widthwise {
    display: inherit;
  }

  .card-body .widthwise img, .card-body .widthwise-reverse img {
    width: 100%;
    margin: 0 0 25px 0;
  }

  .card-body-sentence {
    width: 100%;
  }
}