header {
  width: 100%;
  height: 50px;
  background-color: rgba(255,255,255,.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
}

.header-item {
  margin-left: 4vw;
  font-family: 'Phenomena-Bold';
  font-size: 2vw;
  letter-spacing: 0.2em;
}

.header-item:first-child {
  margin-left: 0;
}

#top {
  height: 85vh;
  position: relative;
}

.top-title {
  font-family: 'Phenomena-Bold';
  font-size: 8vw;
  letter-spacing: 0.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top-subtitle {
  font-family: 'Phenomena-Bold';
  font-size: 3vw;
  letter-spacing: 0.1em;
  position: absolute;
  top: 65%;
  left: 76%;
  transform: translate(-50%,-50%);
}

#canvas-container-top,
#canvas-container-skills,
#canvas-container-works {
  width: 100vw;
  height: 100px;
}

.content-header {
  font-family: 'Phenomena-Bold';
  font-size: 5vw;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 30px;
}

.mainvisual {
  margin-bottom: 30px;
}

.title {
  color: #3E3E3E;
  font-size: 2.5vw;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0 10% 5vw;
}

.content {
  padding: 0 12%;
}

@media screen and (max-width:480px) {
  .mainvisual {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .title {
    font-size: 100%;
  }

  .content {
    padding: 0 8%;
  }
}