.mainvisual {
  margin-bottom: 30px;
}

.title {
  color: #3E3E3E;
  font-size: 2.5vw;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0 10% 8vw;
}

.content {
  margin: 0 10%;
}

@media screen and (max-width:480px) {
  .mainvisual {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .title {
    font-size: 100%;
  }
}


/* .half {
  display: flex;
  align-items: flex-start;
}

.half > *:first-child {
  margin-right: 20%;
}

.half-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.half-reverse > *:last-child {
  margin-right: 20%;
}

.line-right:after {
  content: '';
  display: inline-block;
  background: #BFBFBF;
  position: absolute;
  width: 20vw;
  height: 30px;
  top: 50%;
  right: -20vw;
  transform: translate(0, -50%);
  z-index: 0;
}

.line-left:after {
  content: '';
  display: inline-block;
  background: #BFBFBF;
  position: absolute;
  width: 20vw;
  height: 30px;
  top: 50%;
  left: -20vw;
  transform: translate(0, -50%);
  z-index: 0;
}

.line-bottom:after {
  content: '';
  display: inline-block;
  background: #BFBFBF;
  position: absolute;
  width: 30px;
  height: 150px;
  bottom: -150px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 0;
} */