/* header */
header {
  width: 100%;
  height: 50px;
  background-color: rgba(252,252,252,.8);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 100;
}

header .nav {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 20px;
}

header .nav img {
  width: auto;
  height: 96%;
}

header .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-item {
  margin-left: 4vw;
  font-family: 'Phenomena-Bold';
  font-size: 2vw;
  letter-spacing: 0.2em;
}

.nav-item:first-child {
  margin-left: 0;
}

/* footer */
footer p {
  color: black;
  font-weight: bold;
  background-color: var(--blue);
  text-align: center;
  padding: 10px 0;
}

/* heaer works */
.headerIcon {
  position: fixed;
  width: 100px;
  top: 20px;
  left: 20px;
  z-index: 100;
}

/* footer works */
#otherWorks {
  background-color: #F0F0F0;
  padding: 20px 20%;
  margin-bottom: 20px;
}

#otherWorks .half {
  justify-content: space-around;
}

#otherWorks p {
  text-align: center;
  font-size: 40px;
  font-family: 'Phenomena-Bold';
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

#otherWorks a {
  height: 100%;
  position: relative;
}

#otherWorks .otherWorks-circle {
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

#otherWorks .otherWorks-circle.left {
  left: -20%;
}

#otherWorks .otherWorks-circle.right {
  top: 50%;
  right: calc(-10% - 50px);
}
/* top */
#top {
  height: calc(100vh - 100px);
  position: relative;
}

.top-title {
  font-family: 'Phenomena-Bold';
  font-size: 8vw;
  letter-spacing: 0.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top-subtitle {
  font-family: 'Phenomena-Bold';
  font-size: 3vw;
  letter-spacing: 0.1em;
  position: absolute;
  top: 65%;
  left: 76%;
  transform: translate(-50%,-50%);
}

/* canvas */
#canvas-container-top,
#canvas-container-skills,
#canvas-container-works,
#canvas-container-footer {
  width: 100vw;
  height: 100px;
}

/* content */

.content {
  padding: 0 12% 50px;
}

.content-header {
  font-family: 'Phenomena-Bold';
  font-size: 50px;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 50px;
}

#descriptionHeader{
  width: 50%;
  margin: 20px auto 40px;
}

#descriptionHeader .mainVisual {
  margin-bottom: 15px;
}

#descriptionHeader .title {
  color: #3E3E3E;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0;
}

/* works詳細 */
section.content h2 {
  font-size: 20px;
  padding-left: 25px;
  margin: 60px 0 10px;
  position: relative;
}

section.content h2:first-of-type {
  margin-top: 0;
}

section.content h2:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 10px;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: var(--pink);
}

section.content h3 {
  font-size: 18px;
  padding-left: 25px;
  margin: 30px 0 10px;
  position: relative;
}

section.content h3:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 16px;
  top: 50%;
  left: 8px;
  transform: translate(-50%,-50%);
  background-color: var(--text);
}

section.content p {
  margin: 0 0 20px 20px;
  line-height: 1.6em;
}



.widthwise {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.widthwise img {
  width: 200px;
  height: 100%;
  object-fit: contain;
  margin: 0 50px 20px 0;
  border: solid 1px #eee;
}

.widthwise img:last-of-type {
  margin-right: 0;
}

.widthwise.oblong img {
  width: 450px;
}

.widthwise.full > * {
  width: 100%;
  height: 30vw;
  object-fit: contain;
}



.widthwise.img-small {
  justify-content: flex-start;
  height: 100px;
}

.widthwise.img-medium {
  justify-content: flex-start;
  height: 150px;
}

.widthwise.img-large {
  justify-content: flex-start;
  height: 200px;
}

.widthwise.img-full {
  justify-content: flex-start;
  width: 100%;
}

.widthwise.img-full > * {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* section.content .img.widthwise {
  justify-content: flex-start;
  height: 400px;
}

section.content .img.widthwise.img-small {
  justify-content: flex-start;
  height: 100px;
}

section.content .img.widthwise.img-medium {
  justify-content: flex-start;
  height: 150px;
}

section.content .img.widthwise.img-large {
  justify-content: flex-start;
  height: 200px;
}

section.content .img.widthwise.img-full {
  justify-content: flex-start;
  width: 100%;
}

section.content .img.widthwise.img-full > * {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

section.content .img.widthwise img {
  width: auto;
  height: 100%;
  object-fit: contain;
  margin-left: 50px;
}

section.content .img.widthwise img:first-of-type {
  margin-left: 0;
} */

@media screen and (max-width:480px) {
  header {
    height: 30px;
  }

  .mainvisual {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .title {
    font-size: 100%;
  }

  .content {
    padding: 0 8%;
  }

  #descriptionHeader{
    width: 100%;
  }

  .widthwise {
    justify-content: center;
  }

  .widthwise img {
    margin: 0 0 20px 0;
  }

  .widthwise.oblong img {
    width: 100%;
  }
}