.mainvisual {
  margin-bottom: 30px;
}

.title {
  color: #3E3E3E;
  font-size: 2.5vw;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0 10% 8vw;
}

.content {
  margin: 0 15%;
}

@media screen and (max-width:480px) {
  .mainvisual {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .title {
    font-size: 100%;
  }

  .content {
    margin: 0 8%;
  }
}