#profile .content {
  background-color: var(--blue);
}

#profile p,
#profile td {
  color: white;
}

.profile-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img img {
  width: 60%;
  border-radius: 50%;
  border: solid 5px var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-text p {
  font-size: 16px;
  margin-bottom: 15px;
}

.profile-text .profile-text-name {
  font-size: 20px;
}

.profile-text table tr td:first-child {
  vertical-align: top;
  padding-right: 20px;
}