#canvas-container-skills,
#skills .content {
  background-color: var(--lblue);
}

#skills .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#skills .card {
  width: 22%;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  transition: .3s ease-in-out;
}

#skills .card:hover {
  box-shadow: 0 20px 40px -10px rgba(0,0,0,0.12);
  transform: translate(0,-1px);
}

#skills .card-illust {
  /* calc(.contentのpaddingを引いた横幅/(100/cardの横幅)-cardのpaddingとborderの合計 - 任意の数字) */
  width: calc(76vw/(100 / 22) - 50px - 30px);
  height: calc(76vw/(100 / 22) - 50px - 30px);
  border-radius: 50%;
  background: white;
  background-image: linear-gradient(to right, transparent 50%, var(--pink) 0);
  margin: 0 auto;
  position: relative;
}

#skills .card-illust:before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: rgba(0,0,0,0);
  transform-origin: left;
  background: white;
}

#skills .r10.card-illust:before {
  transform: rotate(36deg);
}
#skills .r20.card-illust:before {
  transform: rotate(72deg);
}
#skills .r30.card-illust:before {
  transform: rotate(108deg);
}
#skills .r40.card-illust:before {
  transform: rotate(144deg);
}
#skills .r50.card-illust:before {
  transform: rotate(180deg);
}
#skills .r60.card-illust:before {
  background-color: var(--pink);
  transform: rotate(36deg);
}
#skills .r70.card-illust:before {
  background-color: var(--pink);
  transform: rotate(72deg);
}
#skills .r80.card-illust:before {
  background-color: var(--pink);
  transform: rotate(108deg);
}
#skills .r90.card-illust:before {
  background-color: var(--pink);
  transform: rotate(144deg);
}
#skills .r100.card-illust:before {
  background-color: var(--pink);
  transform: rotate(180deg);
}

#skills .card-illust:after {
  content: '';
  position: absolute;
  /* calc(.contentのpaddingを引いた横幅/(100/cardの横幅)-cardのpaddingとborderの合計 - 任意の数字 - 任意のborderの太さ) */
  width: calc(76vw/(100 / 22) - 50px - 30px - 20px);
  height: calc(76vw/(100 / 22) - 50px - 30px - 20px);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: white;
}

#skills .card-illust img {
  width: 50%;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#skills .card-text {
  
}

#skills .card-text p {
  font-size: 18px;
  font-weight: bold;
}

#skills .card-text .card-text-detail {
  font-size: 16px;
  font-weight: 200;
}


@media screen and (max-width:480px) {
  #skills .card {
    width: 48%;
  }

  #skills .card-illust {
    width: calc(84vw/(100 / 48) - 50px - 30px);
    height: calc(84vw/(100 / 48) - 50px - 30px);
  }

  #skills .card-illust:after {
    width: calc(84vw/(100 / 48) - 50px - 30px - 20px);
    height: calc(84vw/(100 / 48) - 50px - 30px - 20px);
  }
}