:root{
  --text: #535354;
  --gray: #F4F4F4;
  --pink: #FDA8A8;
  --lblue: #E0F1FC;
  --blue:#5C7DBF;
  --dblue:#25324D;
}

/* font */
@font-face {
  font-family: 'Phenomena-Bold';
  src:url('../fonts/Phenomena-Bold.woff');
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--text);
  /* font-family: "ヒラギノ角ゴ ProN W3",sans-serif; */
}

html, body {
  margin: 0 auto;
  width: 100vw;
  background-color: #FCFCFC;
  color: #464646;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  margin: 0;
  letter-spacing: 0.08em;
}

.letter-accent {
  font-weight: bold;
  background: linear-gradient(#fff 70%,#ffe243 0);
}

.product-link {
  border-bottom: 1px solid var(--dblue);
  color: var(--blue);
  font-weight: bold;
}

.half {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.half > * {
  width: 48%;
}

.widthwise {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.widthwise img {
  width: 200px;
  height: 100%;
  object-fit: contain;
  margin: 0 50px 20px 0;
  border: solid 1px #eee;
}

.widthwise img:last-of-type {
  margin-right: 0;
}

.widthwise.oblong img {
  width: 450px;
}

.widthwise.full > * {
  width: 100%;
  height: 30vw;
  object-fit: contain;
}


@media screen and (max-width:480px) {
  .half > * {
    width: 100%;
  }
}